<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-DsodAsgmnt5-20141128210501;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-DsodAsgmnt5-20141128210501.mdf" />
  </connectionStrings>
  <system.web>
    <customErrors mode="Off"/>
    <machineKey validationKey="76CD032AE4F35E4EA2C1049BA5D6E2131CBB3B54" decryptionKey="D29776B25371D19D7DC11025CA21E4A6FA7AE4AA23415EB5" validation="SHA1"/>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages maintainScrollPositionOnPostBack="true">
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
    <controls>
      <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
    </controls></pages>
    <authentication mode="Forms"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" cookieless="UseDeviceProfile" timeout="6000">     
    </sessionState>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWeatherServ1" />
        <binding name="BasicHttpBinding_IService1" />
        <binding name="BasicHttpBinding_INatHazService1" />
        <binding name="BasicHttpBinding_IService11" />
        <binding name="BasicHttpBinding_IService12" />
        <binding name="BasicHttpBinding_IService" />
        <binding name="BasicHttpBinding_IService13" />
        <binding name="BasicHttpBinding_ICatalogService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://webstrar13.fulton.asu.edu/Page4/WeatherServ.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWeatherServ1"
        contract="WeatherSvcRef.IWeatherServ1" name="BasicHttpBinding_IWeatherServ1" />
      <endpoint address="http://webstrar13.fulton.asu.edu/Page1/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService1"
        contract="NewsSvcRef.IService1" name="BasicHttpBinding_IService1" />
      <endpoint address="http://webstrar13.fulton.asu.edu/Page4/NatHazService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INatHazService1"
        contract="NatHazSvcRef.INatHazService1" name="BasicHttpBinding_INatHazService1" />
      <endpoint address="http://webstrar13.fulton.asu.edu/page7/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService11"
        contract="SolarWindSvcRef.IService1" name="BasicHttpBinding_IService11" />
      <endpoint address="http://webstrar13.fulton.asu.edu/Page2/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService12"
        contract="CityToZipSvcRef.IService1" name="BasicHttpBinding_IService12" />
      <endpoint address="http://venus.eas.asu.edu/WSRepository/Services/ImageVerifierSvc/Service.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService"
        contract="ImageVerifierSvcRef.IService" name="BasicHttpBinding_IService" />
      <endpoint address="http://webstrar13.fulton.asu.edu/Page8/Service1.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService13"
        contract="LoginRegisterSvcRef.IService1" name="BasicHttpBinding_IService13" />
      <endpoint address="http://webstrar13.fulton.asu.edu/Page4/CatalogService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICatalogService1"
        contract="ServiceReference1.ICatalogService1" name="BasicHttpBinding_ICatalogService1" />
    </client>
  </system.serviceModel>
</configuration>